{{#if posts.length}}
<div class="container">
  <div class="row">
    <section>
      <h2 class="mb-4">Your Posts</h2>
      <div class="post-list">
        {{#each posts as |post|}}
        <a href="/post/{{id}}">
          <div class="card mb-4">
              {{> dashboard-post-info post}} 
          </div>
          </a>
        {{/each}}
      </div>
    </section>
  </div>
</div>
{{else}}
<section>
  <h3 class="mb-4">You haven't posted anything yet</h3>
</section>
{{/if}}


<button type="submit" class="btn btn-primary mb-4"><a href="/dashboard/new" class="text-white">Add New Post</a></button>